body {
  font-family: "Roboto", sans-serif;
  font-family: "Spectral", serif;
}
.container1 {
  position: fixed;
  background-color: #ffc017;
  width: 100%;
  padding-block: 16px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.5px solid;
}
.logo {
  position: relative;
  top: 10px;
  right: 80px;
}
.boxblack {
  background-color: #191919;
  color: white;
  border-radius: 25px;
  padding-inline: 15px;
  padding-top: 15px;
  cursor: pointer;
  text-decoration: none;
}
.opzioni {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 70px;
}
.a {
  padding: 15px;
  cursor: pointer;
}

h1 {
  color: #191919;
  font-size: 100px;
  padding-bottom: 10px;
}
.d {
  padding-bottom: 10px;
}
.boxblack {
  background-color: #191919;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  padding-inline: 20px;
  padding-top: -5px;
}
.rmv {
  text-decoration: none;
  color: #191919;
}
.rmw {
  text-decoration: none;
  color: white;
}
.btn {
  position: relative;
  top: 10px;
  padding-block: 2px;
  background-color: #191919;
  color: white;
  border: 10px solid #191919;
  border-radius: 99px;
  max-width: 260px;
  font-size: 1.1rem;
  font-weight: lighter;
  text-align: center;
  cursor: pointer;
  padding-inline: 40px;
}
.ecs{
  position:relative;
  top:10px;
}
.flx {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  gap:50px;
  top: 50px;
}
.cont {
  background-color: #ffc017;
  color: #191919;
  display: flex;
  padding-bottom: 65px;
  border-bottom: 0.5px solid;
}
.curioso {
  position: relative;
  top: 150px;
  left:350px;
}
.curioso p {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 22px;
}
.curioso h1 {
  font-weight: 600;
}
.trnd {
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 322px;
  top: 60px;
}
.trnd h2 {
  padding-top: 8px;
  font-weight: bold;
  padding-left: 15px;
}
.numeri {
  color: #f2f2f2;
  font-size: 40px;
  position: relative;
}
.r1 {
  display: flex;
}
.r1 span svg {
  cursor: pointer;
}
.c1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  left: 20px;
}
.c1 p {
  cursor: pointer;
}
.cerchio {
  border-radius: 50%;
  width: 25px;
  position: relative;
  top: 5px;
  left: 5px;
}
.tt {
  display: flex;
  cursor: pointer;
}
.tt p {
  position: relative;
  top: 10px;
  left: 10px;
}
.c1 h3 {
  padding-block: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.i {
  display: flex;
  padding-inline: 80px;
}
.dodici {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
}

#one {
  position: relative;
  left: 50px;
}
#two {
  position: relative;
  right: 10px;
}
#three {
  position: relative;
  right: 80px;
}
#four {
  position: relative;
  left: 77px;
  top: 30px;
}

#five {
  position: relative;
  top: 30px;
  right: 33px;
}

#six {
  position: relative;
  top: 30px;
  right: 120px;
}
.star {
  position: relative;
  top: 5px;
  left: 5px;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-top: 170px;
  position: relative;
  left: 175px;
}

.bb {
  padding-top: 20px;
}

.rl {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
}
.add {
  position: relative;
  top: 20px;
}
.ap {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.uno {
  position: relative;
  left: 80px;
  top: 10px;
}
.due {
  position: relative;
  left: 121px;
}
.tre {
  position: relative;
  left: 133px;
}
.quattro {
  position: relative;
  left: 140px;
}
.cinque {
  position: relative;
  left: 72px;
}
.sei {
  position: relative;
  left: 82px;
}
.sette {
  position: relative;
  left: 45px;
}

.spz {
  padding-bottom: 25px;
  border-bottom: 0.2px solid #ccc;
  color: #1a8917;
  padding-top: 25px;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}
.lst {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.lst div {
  color: #747474;
  padding: 15px;
  cursor: pointer;
}
.lll {
  padding-top: 170px;
  width: 500px;
  position: relative;
  right: 50px;
}
.plus {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
.minicont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 5px;
  padding-left: 10px;
}
.minicont div {
  background-color: #f2f2f2;
  border-radius: 25px;
  padding-inline: 5px;
  padding-block: 15px;
  text-align: center;
  width: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.flexer {
  display: flex;
  justify-content: space-around;
}
